@using OptimizelyTutorial.Features.Shared.ViewModels
@model IEnumerable<LinkViewModel>

<header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
            @await Component.InvokeAsync("Logo", new { Width = 40, Height = 40 })
        </a>
    </div>
    <div data-epi-edit="MainNavigation">
        <nav class="w-full lg:w-auto mt-2 lg:flex lg:mt-0">
            <ul class="flex flex-col lg:flex-row lg:gap-3">
                @foreach(var link in Model)
                {
                    <li>
                        <a href="@link.Url" class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">@link.Name</a>
                    </li>
                }
                <li>
                    <a href="#" class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">Blog</a>
                </li>
                <li>
                    <a href="#" class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">Om oss</a>
                </li>
                <li>
                    <a href="#" class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">Kontakt</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="lg:flex items-center gap-4">
            <a href="#">Logga in</a>
            <a href="#" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">Registrera</a>
            @await Component.InvokeAsync("LanguageSelector")
        </div>
    </div>
</header>